<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/daddy">Daddy Yankee</a></li>
    <li><a href="/bruno">Bruno Mars</a></li>
    <li><a href="/michael">Michael Jackson</a></li>
    <li><a href="/don">Don Omar</a></li>
  </ul>
</nav>
<hr>
