<%- include('header'); %>

<h1>Michael Jackson</h1>
<p>Michael Jackson, the “King of Pop,” is one of the most iconic performers in music history, known for hits like “Thriller” and “Billie Jean.”</p>
